{% load static %}
<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js"></script>
<link rel="stylesheet" href="{% static 'django_components_ui/css/components.css' %}">
<div class="dropdown-start dropdown-end dropdown-center dropdown-top dropdown-bottom dropdown-top-start dropdown-top-end dropdown-bottom-start dropdown-bottom-end
            btn-ghost btn-secondary btn-outline btn-accent btn-error btn-link
            btn-xs btn-sm btn-md btn-lg btn-xl
            badge-xs badge-sm badge-md badge-lg badge-xl
            text-default text-strong text-subtle
            sticky top-0 top-4 z-50 transition-all duration-200 bg-base-100/80 backdrop-blur-sm shadow-sm -translate-y-full
            badge-primary badge-secondary badge-accent badge-neutral badge-info badge-success badge-warning badge-error
            bg-base-100 bg-base-200 bg-base-300 bg-base-content bg-base-content/50 bg-base-content/70 bg-base-content/90
            progress-primary progress-secondary progress-accent progress-neutral progress-info progress-success progress-warning progress-error
            tabs tabs-border tabs-lift tabs-box tabs-xs tabs-sm tabs-md tabs-lg tabs-xl tabs-top tabs-bottom tabs-vertical
            tab tab-active tab-disabled tab-content" style="display: none;"></div>