include README.md
include LICENSE
recursive-include django_components_ui/templates *
recursive-include django_components_ui/static *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
exclude documentation/